/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  /* Style for the table */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  table th {
    background-color: #4CAF50;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th:first-child,
  table td:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  table th:last-child,
  table td:last-child {
    border-radius: 0 5px 5px 0;
  }
  
  /* Style for the search form */
  form {
    width: 300px;
    margin: 20px auto;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #3e8e41;
  }

/* Style for the Tambah Barang button */
.tambah-barang {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
  }
  
  .tambah-barang:hover {
    background-color: #5f802a;
  }

/* Style for the Logout link */
.logout {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
  
  .logout:hover {
    background-color: #5f802a;
  }
  
  /* Style for the pagination */
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination a {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
  }
  
  .pagination a:hover {
    background-color: #ddd;
  }
  
  .pagination .active {
    background-color: #4CAF50;
    color: white;
  }